* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.memoInput,
.alarmInput {
  display: none;
}

.alarmActive {
  display: flex;
}

.active {
  display: block;
}

.memoList {
  line-height: 20px;
  max-height: 40px;
}

.select {
  max-height: none;
}

.imageSelect {
  border: none;
}

.border {
  border: 2px solid orange;
}
